/*
Aqui escribe tu codigo de CSS.
*/

body {
    /*background-image: url("file:///home/cognitstarde/Escritorio/frontend-portfolio/tony.jpg");*/
} 

/*Logo de Cognits*/
#cognits { 
	font-size: 20px;
	height: 86px;
	width: 400px;
	margin-top: 0px;
	margin-left: 60px;
}

/*Featured Work*/
#titulo{
	margin-top: 40px;
	margin-left: 60px;
	color:gray;
	font-size: 40px;
}

/*Cognits Student*/
#cog1{
	text-align: center;
	color: solid black;
	margin-left: 885px;
	margin-top: -80px;
	font-size: 30px;
}

/*Front-end Padawan*/
#cog2{
	text-align: center;
	color: solid black;
	margin-left: 1000px;
	margin-top: -10px;
	font-size: 15px;
}

/*Linea*/
#linea{
	margin-top: -30px;
	margin-left: 60px;
	color: gray;
	font-size: 40px;
}

/* Cuadros de la izquierda */
.izquierda { 
	margin-top: 0px;
	margin-left: 60px;
}

/* Textos izquierda 1*/
.text_izq_1{
	margin-top: 30px;
	margin-left: -600px;
	font-family: Arial;
	font-size: 20px;
}

/* Textos izquierda 2*/
.text_izq_2{
	margin-top: -15px;
	margin-left: -600px;
	font-family: Arial;
	color: #3399FF;
}

/* Cuadros de la derecha */
.derecha { 
	margin-top: -300px;
	margin-left: 660px;
}

/* Textos derecha 1*/
.text_der_1{
	margin-top: -60px;
	margin-left: 600px;
	font-family: Arial;
	font-size: 20px;
}

/* Textos derecha 2*/
.text_der_2{
	margin-top: -15px;
	margin-left: 600px;
	font-family: Arial;
	color: #3399FF;
}

/* Creditos del Nombre */
#creditos{
	font-size: 30px;
}

/* Todos los parrafos */
div > p{
	position: center;
	text-align: center;
}

/* Logo de Git */
#git{
	margin-left: 600px;
}
